* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body,
html {
  width: calc(100vw - 180px);
  margin: 0 auto;
  height: 100vh;
  position: relative;
  line-height: 1.1em;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

body {
  color: white;
  text-decoration: none;
  font-size: 1.05em;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
}
.link:hover {
  opacity: 0.6;
}

#home {
  width: 100%;
}
#home .main-menu {
  width: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
}
#home .main-menu span {
  margin: 20px;
}

#work {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
}
#work .container {
  position: relative;
  margin: 90px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
  transform-style: preserve-3d;
}
#work .container .box {
  position: relative;
  transform-style: preserve-3d;
}
#work .container .box .content {
  position: absolute;
  width: 80%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%) translateZ(20px) scaleY(0);
  transform-origin: top;
  padding: 15px;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
}
#work .container .box .content .client {
  color: #a5a5a5;
}
#work .container .box .content .project {
  font-size: 1.2em;
  line-height: 30px;
}
#work .container .box .img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0.8;
  transition: 0.5s;
  transform-style: preserve-3d;
}
#work .container .box:hover {
  cursor: pointer;
}
#work .container .box:hover .content {
  transform: translateX(-50%) translateZ(50px) scaleY(1);
  padding: 15px;
}
#work .container .box:hover .img {
  opacity: 1;
}

#about {
  display: none;
  width: 100%;
  height: auto;
}
#about .container {
  position: relative;
  margin: 90px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#about .container .profile {
  width: 15vw;
  height: 15vw;
  background: white;
  background-size: cover;
  margin-right: 90px;
}
#about .container .info {
  width: 60%;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1em;
}
#about .icons {
  position: relative;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .icons a {
  margin: 0 45px;
}
#about .icons a img {
  transition: 0.3s ease-in-out;
}
#about .icons a img:hover {
  opacity: 0.6;
}

#top-menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100px;
  line-height: 100px;
  padding-right: 90px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  top: 0;
  left: 0;
  box-sizing: border-box;
}
#top-menu .bg {
  position: inherit;
  width: 100%;
  height: 100px;
  background: transparent;
  transition: 0.6s;
  z-index: -1;
}
#top-menu span {
  margin-left: 12px;
  z-index: 100;
}

.divider {
  position: relative;
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider:nth-child(1) {
  margin-top: 90px;
}
.divider span {
  padding: 0 25px;
  font-weight: 300;
}
.divider::before, .divider::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: white;
}

#tuta {
  display: none;
  width: 100%;
  height: auto;
}
#tuta .container {
  position: relative;
  margin: 90px 0;
}
#tuta .container .title {
  font-size: 3em;
  opacity: 0.8;
  display: block;
  text-align: center;
}

#localbuddy {
  display: none;
  width: 100%;
  height: auto;
}

.animation-page-hide {
  animation: pageHide 1s 1 ease-in-out;
}

.animation-page-show {
  animation: pageShow 1s 1 ease-in-out;
}

@keyframes pageHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(10vh);
  }
}
@keyframes pageShow {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1500px) {
  body,
html {
    width: calc(100vw - 120px);
  }

  #work .container {
    margin: 60px 0;
    grid-gap: 60px;
  }

  #top-menu {
    padding-right: 60px;
  }

  .divider {
    margin-top: 60px;
  }
}
@media only screen and (max-width: 1000px) {
  body,
html {
    width: calc(100vw - 80px);
  }

  #work .container {
    margin: 40px 0;
    grid-gap: 40px;
  }

  #top-menu {
    padding-right: 40px;
  }

  .divider {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 755px) {
  body,
html {
    width: calc(100vw - 60px);
  }

  #work .container {
    margin: 30px 0;
    grid-gap: 30px;
  }

  #top-menu {
    text-align: center;
    padding-right: 10px;
  }

  .divider {
    margin-top: 30px;
  }

  #about .container {
    flex-flow: column wrap;
    margin: 30px 0;
  }
  #about .container .profile {
    width: 40vw;
    height: 40vw;
    margin: 0 0 30px 0;
  }
  #about .container .info {
    width: 100%;
    text-align: center;
  }
  #about .icons {
    margin: 30px 0;
  }
  #about .icons a {
    margin: 0 30px;
  }
}
@media only screen and (max-width: 620px) {
  #work .container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  body,
html {
    width: calc(100vw - 40px);
  }

  #work .container {
    margin: 20px 0;
    grid-gap: 15px;
  }

  .divider {
    margin-top: 20px;
  }

  #about .container {
    margin: 20px 0;
  }
  #about .container .profile {
    width: 40vw;
    height: 40vw;
    margin: 0 0 20px 0;
  }
  #about .icons {
    margin: 20px 0;
  }
}
