* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  text-decoration: none;
}

body,
html {
  position: relative;
  -webkit-font-smoothing: antialiased;
  -ms-overflow-style: none;
  scroll-behavior: smooth;
  scrollbar-width: none;
  user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

body {
  color: white;
  text-decoration: none;
  font-size: 1.05em;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

canvas {
  position: fixed;
  z-index: -999;
}

section {
  height: auto;
  width: calc(100vw - 180px);
  padding-top: 0.1px;
  margin: 0 auto;
  line-height: 1.1em;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 2px;
  transition: 0.3s ease-in-out;
}
.link:hover {
  opacity: 0.6;
}

#home {
  width: 100%;
}
#home .main-menu {
  width: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;
}
#home .main-menu span {
  margin: 20px;
}

#work {
  display: none;
  width: 100%;
  height: auto;
  text-align: center;
}
#work .container {
  position: relative;
  margin: 90px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 90px;
  transform-style: preserve-3d;
}
#work .container .box {
  position: relative;
  transform-style: preserve-3d;
}
#work .container .box .content {
  position: absolute;
  width: 80%;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 8px;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%) translateZ(20px) scaleY(0);
  transform-origin: top;
  padding: 15px;
  transition: 0.5s ease-in-out;
  transform-style: preserve-3d;
}
#work .container .box .content .client {
  color: #a5a5a5;
}
#work .container .box .content .project {
  font-size: 1.2em;
  line-height: 30px;
}
#work .container .box .img {
  position: relative;
  width: 100%;
  height: auto;
  border-radius: 8px;
  opacity: 0.8;
  transition: 0.5s;
  transform-style: preserve-3d;
}
#work .container .box:hover {
  cursor: pointer;
}
#work .container .box:hover .content {
  transform: translateX(-50%) translateZ(50px) scaleY(1);
  padding: 15px;
}
#work .container .box:hover .img {
  opacity: 1;
}

#about {
  display: none;
  width: 100%;
  height: auto;
}
#about .container {
  position: relative;
  margin: 90px 0;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
#about .container .profile {
  width: 15vw;
  height: 15vw;
  border-radius: 8px;
  background: url("/img/profile.jpg");
  background-size: cover;
  margin-right: 90px;
}
#about .container .info {
  width: 60%;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1em;
}
#about .icons {
  position: relative;
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#about .icons a {
  margin: 0 45px;
}
#about .icons a img {
  transition: 0.3s ease-in-out;
}
#about .icons a img:hover {
  opacity: 0.6;
}

#top-menu {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100px;
  line-height: 100px;
  padding-right: 90px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  top: 0;
  left: 0;
  box-sizing: border-box;
  z-index: 999999;
}
#top-menu .bg {
  position: inherit;
  width: 100%;
  height: 100px;
  background: transparent;
  transition: 0.6s;
  z-index: -1;
}
#top-menu span {
  margin-left: 12px;
  z-index: 100;
}

.divider {
  position: relative;
  margin-top: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider:nth-child(1) {
  margin-top: 90px;
}
.divider span {
  padding: 0 25px;
  font-weight: 300;
}
.divider::before, .divider::after {
  content: "";
  display: block;
  height: 1px;
  width: 100%;
  background: white;
}

#tuta,
#info19 {
  position: relative;
  display: none;
  width: 100%;
  height: 100%;
}
#tuta .container,
#info19 .container {
  position: relative;
  margin: 90px 100px;
}
#tuta .container .title,
#info19 .container .title {
  font-size: clamp(2rem, 3vw, 3rem);
  display: block;
  font-weight: 500;
  text-align: center;
}
#tuta .container .text,
#info19 .container .text {
  margin: 45px 0 -45px 0;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  line-height: 1.04em;
}
#tuta .container .text a,
#info19 .container .text a {
  text-decoration: underline;
  transition: 0.3s ease-in-out;
}
#tuta .container .text a:hover,
#info19 .container .text a:hover {
  opacity: 0.5;
}
#tuta .container .mockup,
#info19 .container .mockup {
  margin: 45px 0 -45px 0;
  width: 100%;
  height: auto;
}
#tuta .container .technologies,
#info19 .container .technologies {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: center;
  margin: 45px 0 0 0;
}
#tuta .container .technologies .item,
#info19 .container .technologies .item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: clamp(1rem, 1.25vw, 1.25rem);
  padding: 0 10px;
}
#tuta .container .technologies .item img,
#info19 .container .technologies .item img {
  width: auto;
  height: 35px;
  margin-right: 10px;
}

.animation-page-hide {
  animation: pageHide 1s 1 ease-in-out;
}

.animation-page-show {
  animation: pageShow 1s 1 ease-in-out;
}

@keyframes pageHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translateY(10vh);
  }
}
@keyframes pageShow {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media only screen and (max-width: 1500px) {
  section {
    width: calc(100vw - 120px);
  }

  #work .container {
    margin: 60px 0;
    grid-gap: 60px;
  }

  #top-menu {
    padding-right: 60px;
  }

  .divider {
    margin-top: 60px;
  }

  #tuta .container,
#info19 .container {
    margin: 90px 70px;
  }
  #tuta .container .text,
#tuta .container .mockup,
#info19 .container .text,
#info19 .container .mockup {
    margin: 30px 0 -30px 0;
  }
  #tuta .container .technologies,
#info19 .container .technologies {
    margin: 30px 0 0 0;
  }
}
@media only screen and (max-width: 1000px) {
  section {
    width: calc(100vw - 80px);
  }

  #work .container {
    margin: 40px 0;
    grid-gap: 40px;
  }

  #top-menu {
    padding-right: 40px;
  }

  .divider {
    margin-top: 40px;
  }

  #tuta .container,
#info19 .container {
    margin: 90px 50px;
  }
  #tuta .container .text,
#tuta .container .mockup,
#info19 .container .text,
#info19 .container .mockup {
    margin: 20px 0 -20px 0;
    text-align: center;
  }
  #tuta .container .technologies,
#info19 .container .technologies {
    margin: 20px 0 0 0;
  }
}
@media only screen and (max-width: 755px) {
  section {
    width: calc(100vw - 60px);
  }

  #work .container {
    margin: 30px 0;
    grid-gap: 30px;
  }

  #top-menu {
    text-align: center;
    padding-right: 10px;
  }

  .divider {
    margin-top: 30px;
  }

  #about .container {
    flex-flow: column wrap;
    margin: 30px 0;
  }
  #about .container .profile {
    width: 40vw;
    height: 40vw;
    margin: 0 0 30px 0;
  }
  #about .container .info {
    width: 100%;
    text-align: center;
  }
  #about .icons {
    margin: 30px 0;
  }
  #about .icons a {
    margin: 0 30px;
  }

  #tuta .container,
#info19 .container {
    margin: 90px 40px;
  }
  #tuta .container .text,
#tuta .container .mockup,
#info19 .container .text,
#info19 .container .mockup {
    margin: 15px 0 -15px 0;
  }
  #tuta .container .technologies,
#info19 .container .technologies {
    margin: 15px 0 0 0;
  }
  #tuta .container .technologies .item,
#info19 .container .technologies .item {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 620px) {
  #work .container {
    grid-template-columns: 1fr;
  }
}
@media only screen and (max-width: 500px) {
  section {
    width: calc(100vw - 40px);
  }

  #work .container {
    margin: 20px 0;
    grid-gap: 15px;
  }

  .divider {
    margin-top: 20px;
  }

  #about .container {
    margin: 20px 0;
  }
  #about .container .profile {
    width: 40vw;
    height: 40vw;
    margin: 0 0 20px 0;
  }
  #about .icons {
    margin: 20px 0;
  }

  #tuta .container,
#info19 .container {
    margin: 90px 0;
  }
  #tuta .container .text,
#tuta .container .mockup,
#info19 .container .text,
#info19 .container .mockup {
    margin: 10px 0 -10px 0;
  }
  #tuta .container .technologies,
#info19 .container .technologies {
    margin: 10px 0 0 0;
  }
}
