$background: #1a1a1d;
$white: #fff;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

body,
html {
  width: 100vw;
  height: 100%;
  // background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FpEeUsp1.jpg&f=1&nofb=1');
  // background: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwallpaperplay.com%2Fwalls%2Ffull%2F3%2F0%2F7%2F17345.jpg&f=1&nofb=1');
  // background-size: cover;

  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23222' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");

  position: absolute;
  line-height: 1.1em;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $white;
  text-decoration: none;
  font-size: 1.05em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
  padding-bottom: 2px;
  transition: .3s ease-in-out;
}

// HOME PAGE

#home {
  // display: none;
  width: 100vw;
  height: 100vh;

}

.main-menu {
  width: 100%;
  line-height: 100vh;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;

  span {
    margin: 20px;
  }
}

// WORK PAGE

#work {
  display: none;
  width: calc(100vw - 180px);
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;

  .container {
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
    transform-style: preserve-3d;

    .box {
      position: relative;
      transform-style: preserve-3d;
      transition: .4s ease-in-out;

      .img-box {
        position: relative;

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          opacity: .85;
          transition: .4s ease-in-out;
        }
      }

      .content {
        position: absolute;
        width: 80%;
        background: rgba(0, 0, 0, .9);
        border-radius: 8px;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%) translateZ(20px) scaleY(0);
        transform-origin: top;
        padding: 15px;
        transition: .5s ease-in-out;
        transform-style: preserve-3d;

        .client {
          color: rgb(165, 165, 165);
        }

        .project {
          font-size: 1.2em;
          line-height: 30px;
        }
      }

      &:hover {
        box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
        transition: .4s ease-in-out;
        cursor: pointer;

        img {
          opacity: 1;
          transition: .4s ease-in-out;
        }

        .content {
          transform: translateX(-50%) translateZ(50px) scaleY(1);
          padding: 15px;

          .project {
            line-height: 30px;
          }
        }
      }
    }
  }
}

// ABOUT PAGE

#about {
  display: none;
}

// TOP MENU

#top-menu {
  display: none;
  position: fixed;
  // background: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100px;
  line-height: 100px;
  z-index: 100;
  padding-right: 95px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;

  span {
    margin-left: 12px;
  }
}

// DIVIDER 

.divider {
  position: relative;
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;

  .line {
    background: white;
    width: 100%;
    height: 1px;
  }

  .header {
    background: #000;
    padding: 0 25px;
    position: absolute;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
  }
}

// ANIMATIONS

.animation-page-hide {
  animation: pageHide 1s 1 ease-in-out;
}

.animation-page-show {
  animation: pageShow 1s 1 ease-in-out;
}

@keyframes pageHide {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translateY(10vh);
  }
}

@keyframes pageShow {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

// MEDIA QUERIES

@media only screen and (max-width: 1500px) {
  #work {
    width: calc(100vw - 120px);

    .container {
      margin-top: 60px;
      margin-bottom: 60px;
      grid-gap: 60px;
    }
  }

  #top-menu {
    padding-right: 65px;
  }
}

@media only screen and (max-width: 1000px) {
  #work {
    width: calc(100vw - 80px);

    .container {
      margin-top: 40px;
      margin-bottom: 40px;
      grid-gap: 40px;
    }
  }

  #top-menu {
    padding-right: 45px;
  }
}

@media only screen and (max-width: 755px) {
  #work {
    width: calc(100vw - 60px);

    .container {
      margin-top: 30px;
      margin-bottom: 30px;
      grid-gap: 30px;
    }
  }

  #top-menu {
    text-align: center;
    padding-right: 10px;
  }
}

@media only screen and (max-width: 620px) {
  #work {
    .container {
      grid-template-columns: 1fr;
    }
  }

  #top-menu {
    padding-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  #work {
    width: calc(100vw - 40px);

    .container {
      margin-top: 20px;
      margin-bottom: 20px;
      grid-gap: 15px;
    }
  }

  #top-menu {
    padding-right: 10px;
  }
}