$background: #1a1a1d;
$white: #fff;

* {
  margin: 0;
  padding: 0;
}

a {
  color: $white;
  text-decoration: none;
}

.link {
  cursor: pointer;
  text-transform: uppercase;
}

body,
html {
  width: 100vw;
  height: 100%;
  background: url('https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwallpapercave.com%2Fwp%2FpEeUsp1.jpg&f=1&nofb=1');
  background-size: cover;
  position: absolute;
  line-height: 1.1em;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

body {
  color: $white;
  text-decoration: none;
  font-size: 1.05em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

// HOME PAGE

#home {
  display: none;
}

.main-menu {
  position: fixed;
  width: 100%;
  bottom: 35vh;
  text-align: center;
  font-size: 1.4em;
  font-weight: 300;

  span {
    margin: 20px;
  }
}

// WORK PAGE

#work {
  // display: none;
  width: calc(100vw - 180px);
  height: auto;
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;

  .title {
    font-size: 10em;
    font-weight: 300;
    line-height: 130px;
  }

  .container {
    position: relative;
    margin-top: 90px;
    margin-bottom: 90px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 90px;
    transform-style: preserve-3d;

    .box {
      position: relative;
      transform-style: preserve-3d;
      transition: .4s ease-in-out;

      .img-box {
        position: relative;

        img {
          width: 100%;
          height: auto;
          border-radius: 8px;
          opacity: .75;
          transition: .4s ease-in-out;
        }
      }

      .content {
        position: absolute;
        width: 80%;
        background: rgba(0, 0, 0, .8);
        border-radius: 8px;
        left: 50%;
        bottom: 25px;
        transform: translateX(-50%) translateZ(20px) scaleY(0);
        transform-origin: top;
        padding: 15px;
        transition: .5s ease-in-out;
        transform-style: preserve-3d;

        .client {
          color: rgb(165, 165, 165);
        }

        .project {
          font-size: 1.2em;
          line-height: 30px;
        }
      }
    }

    .box:hover {
      box-shadow: 0 50px 80px rgba(0, 0, 0, .2);
      transition: .4s ease-in-out;
      cursor: pointer;

      img {
        opacity: 1;
        transition: .4s ease-in-out;
      }

      .content {
        transform: translateX(-50%) translateZ(50px) scaleY(1);
        padding: 15px;

        .project {
          line-height: 30px;
        }
      }
    }
  }
}

// ABOUT PAGE

#about {
  display: none;
}

// TOP MENU

#top-menu {
  // display: none;
  position: fixed;
  width: 100%;
  height: 100px;
  line-height: 100px;
  z-index: 100;
  padding-right: 95px;
  text-align: right;
  font-size: 1.2em;
  font-weight: 300;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  box-sizing: border-box;

  span {
    margin-left: 12px;
  }
}

// DIVIDER 

.divider {
  position: relative;
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;

  .line {
    background: white;
    width: 100%;
    height: 1px;
  }

  .header {
    background: $background;
    padding: 0 25px;
    position: absolute;
    font-weight: 300;
    left: 50%;
    transform: translateX(-50%);
  }
}